<mat-toolbar color="primary" class="app-header">
  <mat-icon id="hospitalicon">local_hospital</mat-icon>
  <span>PharmaFlow</span>
  <span class="spacer"></span>

  <nav>
    <button mat-button routerLink="/dashboard" [disabled]="!isLoggedIn">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </button>
    <button mat-button routerLink="/" (click)="disableLogin()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      Home
    </button>
    <button mat-button (click)="logout()" [disabled]="!isLoggedIn">
      <mat-icon>exit_to_app</mat-icon>Logout
    </button>
  </nav>
</mat-toolbar>
