<mat-toolbar color="primary" class="app-header">
  <mat-icon id="hospitalicon">local_hospital</mat-icon>
  <span>PharmaFlow</span>
  <span class="spacer"></span>
  <nav>
    <button mat-button routerLink="/dashboard"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      Dashboard</button>
    <button mat-button routerLink="/login"><mat-icon>login</mat-icon>Login</button>
    <button mat-button routerLink="/signup"><mat-icon>account_circle</mat-icon>Signup</button>
  </nav>
</mat-toolbar>