.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    height: 75vh;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .action-buttons {
    text-align: center;
  }
  