<div class="dashboard-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <div class="sidenav-content">
        <!-- <mat-toolbar  class="sidenav-header">
          <h3>PharmaFlow</h3>
        </mat-toolbar> -->
        <mat-nav-list>
          <mat-list-item class="nav-item" (click)="navigateTo('dashboard')" >
            <mat-icon >dashboard</mat-icon> Dashboard
          </mat-list-item>
          <mat-list-item class="nav-item" (click)="navigateTo('medicine')">
            <mat-icon>local_pharmacy</mat-icon> Manage Medicines
          </mat-list-item>
          <mat-list-item class="nav-item" (click)="navigateTo('medicine-list')">
            <mat-icon>inventory</mat-icon> View Inventory
          </mat-list-item>
          <mat-list-item class="nav-item" (click)="navigateTo('sale')">
            <mat-icon>shopping_cart</mat-icon> Manage Sales
          </mat-list-item>
          <mat-list-item class="nav-item" (click)="navigateTo('sale-list')">
            <mat-icon>history</mat-icon> View Sales History
          </mat-list-item>
          <mat-list-item class="nav-item" (click)="navigateTo('supplier')">
            <mat-icon>business</mat-icon> Manage Suppliers
          </mat-list-item>
          <mat-list-item class="nav-item" (click)="navigateTo('supplier-list')">
            <mat-icon>view_list</mat-icon> View Suppliers list
          </mat-list-item>
          <mat-list-item class="nav-item" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> Logout
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content">
        <div class="card-container">
          <mat-card class="dashboard-card" (click)="navigateTo('sale-list')">
            <mat-card-header>
              <mat-card-title>Total Sales</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div>
                <h2> ₹{{ totalSales | number:'1.0-2' }}</h2>
              </div>
              
            </mat-card-content>
          </mat-card>

          <mat-card class="dashboard-card" (click)="navigateTo('medicine-list')">
            <mat-card-header>
              <mat-card-title>Inventory</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h2>{{ totalInventory }} items</h2>
            </mat-card-content>
          </mat-card>

          <mat-card class="dashboard-card" (click)="navigateTo('supplier-list')">
            <mat-card-header>
              <mat-card-title>Suppliers</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h2>{{ totalSuppliers }}</h2>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
