.container{
    /* background-image: url('/assets/Images/loginbg.jpg'); */
    background-size: cover;
  background-position: center; 
  height: 80vh;
  width: 100%;
  }
  
  .inner-container{
    /* display: flex; */
    border: 1px solid black;
    position: absolute;
    width: 400px;
    margin-left: 550px;
    margin-top: 70px;
    padding: 20px 20px;
    background-color:whitesmoke;
    border-radius: 10px;
    font-family: 'Times New Roman';
  }
  
  .example-card {
    width: auto;
    height: 400px;
    background-color:whitesmoke;
    box-shadow: 0 34px 48px rgba(10, 1, 1, 0.5);
    border-radius: 20px;
    padding: 20px 20px;
  }
  
  .example-header-image {
    background-image: url('https://cdn-icons-png.flaticon.com/512/295/295128.png');
    background-size: cover;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }  
  
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
    border: 1px solid black;
    text-align: center;
  }
  
  .example-button-row button{
    background-color: lightcoral;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  button{
    margin-left: 130px;
    margin-top: 10px;
    border-radius: 14px;
    font-family: 'Times New Roman';
    font-weight: 500;
    font-size: 18px;
  }
  button:hover{
    margin-left: 130px;
    margin-top: 10px;
    border-radius: 14px;
    background-color: whitesmoke;
    color: black;
    font-family: 'Times New Roman';
    font-weight: 500;
    font-size: 18px;
    box-shadow: 0 34px 48px rgba(10, 1, 1, 0.5);
  }
  
  input{
    background-color: whitesmoke;
  }
  .extra-links {
    text-align: center;
    margin-top: 10px;
}

.extra-links a {
    display: block;
    color: #1976d2;
    text-decoration: none;
    font-family: 'Times New Roman';
    font-weight: 500;
    margin: 5px 0;
    font-size: 16px;
}

.extra-links a:hover {
    text-decoration: underline;
    color: #004ba0;
}
